<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5IP0flZ38etfU9-x9oG9xUVaddGGUEX0</string>
	<key>GCM_SENDER_ID</key>
	<string>1012746600306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseUi</string>
	<key>PROJECT_ID</key>
	<string>online-course-99a52</string>
	<key>STORAGE_BUCKET</key>
	<string>online-course-99a52.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012746600306:ios:147aed07fb0e531b54e7eb</string>
</dict>
</plist>